/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d97e2;
  --background-color: #fff;
  --dark-background: #111;
  --light-text: #fff;
  --dark-text: #333;
  --transition: 0.3s ease;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--body_background);
  transition: background-color var(--transition);
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  transition: var(--transition);
}

.nav-links a {
  text-decoration: none;
  color: var(--dark-text);
  font-size: 1.1rem;
  transition: color var(--transition);
}

.nav-links a:hover,
.nav-links a.active {
  color: var(--primary-color);
  text-decoration: underline;
}

.burger-menu {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--dark-text);
}

.login-button {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--light-text);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition);
}

button:hover {
  background-color: #145ca8;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 90px; /* Position below header */
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color); /* Ensure visibility */
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensure it stays on top */
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .burger-menu {
    display: block;
    z-index: 101; /* To ensure it stays above the nav-links */
  }
}

/* Dark Mode */
[data_theme="dark"] {
  --background-color: var(--dark-background);
  --dark-text: var(--light-text);
}
