:root {
  --body_background: lightblue;
  --body_color: black;
  --link_color: navy;
}

[data_theme="dark"] {
  --body_background: #152058;
  --body_color: rgb(204, 203, 207);
  --link_color: gold;
}

body {
  background-color: var(--body_background);
}

hr {
  margin: 0 50px;
  border: 1px solid black;
}

@media screen and (max-width: 500px) {
  hr {
    margin: 0 20px;
  }
}